# Teste de avaliação do módulo 1

1. Leia os dados no arquivo “Portfolios_Formed_on_ME_monthly_EW.csv” como fizemos nas sessões de laboratório. Realizamos uma série de análises nas colunas 'Lo 10' e 'Hi 10' que são os retornos das carteiras de decil inferior e superior . Para os fins desta atribuição, usaremos as carteiras de quintil mais baixo e mais alto, que são rotuladas 'Lo 20' e 'Hi 20', respectivamente.

    Qual foi o retorno anualizado da carteira Lo 20 durante todo o período?

In [1]:
# Bibliotecas importadas
import pandas as pd
import numpy as np
import scipy.stats as stats
import edhec_risk_kit as erk

%matplotlib inline
%load_ext autoreload
%autoreload 2

**Solução**

Leitura dos dados do arquivo 'Portfolios_Formed_on_ME_monthly_EW.csv':

In [2]:
ffme = pd.read_csv(
    'data/Portfolios_Formed_on_ME_monthly_EW.csv',
    header=0, index_col=0, parse_dates=True, na_values=-99.99
)

ffme.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

Seleção das colunas referentes as carteirasde quintil mais baixo ('Lo 20') e mais alto ('Hi 20'):

In [3]:
returns = ffme[['Lo 20', 'Hi 20']]
returns.columns = ['SmallCap20', 'LargeCap20']
returns.head()

        SmallCap20  LargeCap20
192607       -0.57        3.33
192608        3.84        2.33
192609       -0.48       -0.09
192610       -3.29       -2.95
192611       -0.55        3.16

Formatação do '_index_' como data e hora:

In [4]:
returns /= 100
returns.index = pd.to_datetime(returns.index, format="%Y%m").to_period('M')
returns.head()

         SmallCap20  LargeCap20
1926-07     -0.0057      0.0333
1926-08      0.0384      0.0233
1926-09     -0.0048     -0.0009
1926-10     -0.0329     -0.0295
1926-11     -0.0055      0.0316

Cálculo do retorno anualizado da carteira Lo 20 durante todo o período:

1. Cálculo do retorno mensal

In [5]:
# Quantidade de meses do conjunto de dados
n_months = returns.shape[0]
# Retorno por mês
return_per_month = ((1 + returns).prod() ** (1 / n_months)) - 1
return_per_month

SmallCap20    0.011860
LargeCap20    0.007859
dtype: float64

2. Cálculo do retorno anualizado

In [6]:
annualized_return = (1 + return_per_month)**12 -1
annualized_return

SmallCap20    0.151977
LargeCap20    0.098490
dtype: float64

> **Resposta**

In [8]:
print(f"O retorno anualizado da carteira Lo 20 foi de {100 * annualized_return['SmallCap20']:.2f}%.")

O retorno anualizado da carteira Lo 20 foi de 15.20%.

2. Qual foi a volatilidade anualizada da carteira Lo 20 durante todo o período?

In [10]:
annualized_vol = returns.std() * np.sqrt(12)
annualized_vol

SmallCap20    0.336701
LargeCap20    0.195116
dtype: float64

> **Resposta**:

In [56]:
print(f"A volatilidade anualizada da carteira Lo 20  foi de {100 * annualized_vol['SmallCap20']:.1f}%.")

A volatilidade anualizada da carteira Lo 20  foi de 33.7%.

3. Qual foi o retorno anualizado da carteira Hi 20 durante todo o período?

> **Resposta**

In [16]:
print(f"O retorno anualizado da carteira Hi 20 foi de {100 * annualized_return['LargeCap20']:.2f}%.")

O retorno anualizado da carteira Hi 20 foi de 9.85%.

4. Qual foi a volatilidade anualizada da carteira Hi 20 durante todo o período?

> **Resposta**

In [17]:
print(f"A volatilidade anualizada da carteira Hi 20  foi de {100 * annualized_vol['LargeCap20']:.2f}%.")

A volatilidade anualizada da carteira Hi 20  foi de 19.51%.

5. Qual foi o retorno anualizado da carteira Lo 20 durante o período de 1999 a 2015 (ambos inclusive)?

In [25]:
rets1999_2015 = returns["1999":"2015"]

n_months_1999_2015 = rets1999_2015.shape[0]
return_per_month_1999_2015 = ((1 + rets1999_2015).prod())**(1/n_months_1999_2015) - 1
annualized_return_1999_2015 = (1 + return_per_month_1999_2015)**12 - 1
annualized_return_1999_2015

SmallCap20    0.114426
LargeCap20    0.062865
dtype: float64

> **Resposta**

In [26]:
print(f"O retorno anualizado da carteira Lo 20 no período de 1999 a 2015 foi de {100 * annualized_return_1999_2015['SmallCap20']:.2f}%.")

O retorno anualizado da carteira Lo 20 no período de 1999 a 2015 foi de 11.44%.

6. Qual foi a volatilidade anualizada da carteira Lo 20 no período de 1999 a 2015 (ambos inclusive)?

In [27]:
annualized_vol_1999_2015 = rets1999_2015.std() * np.sqrt(12)
annualized_vol_1999_2015

SmallCap20    0.228894
LargeCap20    0.172713
dtype: float64

> **Resposta**

In [28]:
print(f"A volatilidade anualizada da carteira Lo 20 no período de 1999 a 2015 foi de {100 * annualized_vol_1999_2015['SmallCap20']:.2f}%.")

A volatilidade anualizada da carteira Lo 20 no período de 1999 a 2015 foi de 22.89%.

7. Qual foi o retorno anualizado da carteira Hi 20 no período de 1999 a 2015 (ambos inclusive)?

> **Resposta**

In [29]:
print(f"O retorno anualizado da carteira Hi 20 no período de 1999 a 2015 foi de {100 * annualized_return_1999_2015['LargeCap20']:.2f}%.")

O retorno anualizado da carteira Hi 20 no período de 1999 a 2015 foi de 6.29%.

8. Qual foi a volatilidade anualizada da carteira Hi 20 no período de 1999 a 2015 (ambos inclusive)?

> **Resposta**

In [30]:
print(f"A volatilidade anualizada da carteira Hi 20 no período de 1999 a 2015 foi de {100 * annualized_vol_1999_2015['LargeCap20']:.2f}%.")

A volatilidade anualizada da carteira Hi 20 no período de 1999 a 2015 foi de 17.27%.

9. Qual foi o Max Drawdown (expresso como um número positivo) experimentado durante o período de 1999-2015 no portfólio SmallCap (Lo 20)?

> **Resposta**

In [34]:
drawdowns_lo20 = erk.drawdown(rets1999_2015['SmallCap20'])['Drawdown']
max_drawdown_lo20 = drawdowns_lo20.min()
max_drawdown_lo20

-0.6248092431236988

In [57]:
print(f"O máximo Drawdown durante o período de 1999 a 2015 foi de {-100 * max_drawdown_lo20:.2f}%.")

O máximo Drawdown durante o período de 1999 a 2015 foi de 62.48%.

10. No final de qual mês, durante o período de 1999-2015, ocorreu o levantamento máximo da carteira SmallCap (Lo 20)?

> **Resposta**

In [37]:
max_drawdown_lo20_idx = drawdowns_lo20.idxmin()
max_drawdown_lo20_idx

Period('2009-02', 'M')

In [38]:
print(f"O máximo Drawndown durante o período de 1999 a 2015 ocorreu em {max_drawdown_lo20_idx.strftime('%m de %Y')}.")

O máximo Drawndown durante o período de 1999 a 2015 ocorreu em 02 de 2009.

11. Qual foi o Max Drawdown (expresso como um número positivo) experimentado durante o período de 1999-2015 no portfólio LargeCap (Hi 20)?

> **Resposta**

In [42]:
drawdowns_hi20 = erk.drawdown(rets1999_2015['LargeCap20'])['Drawdown']
max_drawdown_hi20 = drawdowns_hi20.min()
max_drawdown_hi20

-0.5527349978713653

12. Durante o período de 1999-2015, no final de qual mês ocorreu o levantamento máximo da carteira LargeCap (Hi 20)?

> **Resposta**

In [44]:
max_drawdown_hi20_idx = drawdowns_hi20.idxmin()
print(f"O máximo Drawndown durante o período de 1999 a 2015 ocorreu em {max_drawdown_hi20_idx.strftime('%m de %Y')}.")

O máximo Drawndown durante o período de 1999 a 2015 ocorreu em 02 de 2009.

13. Para as perguntas restantes, use o conjunto de dados EDHEC Hedge Fund Indices que usamos na tarefa de laboratório e carregue-os no Python. Olhando para os dados desde 2009 (incluindo todo o ano de 2009) até 2018, qual Hedge Fund Index exibiu o maior semideviação?

> **Resposta**

In [46]:
hfi = erk.get_hfi_returns()

hfi_09_18 = hfi["2009":"2019"]
hfi_09_18.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [50]:
max_semidev = erk.semideviation(hfi_09_18).max()
max_semidev_col = erk.semideviation(hfi_09_18).idxmax()
print(f"O maior semi-desvio foi de {100 * max_semidev:.2f}% e ocorreu para o fundo '{max_semidev_col}'.")

O maior semi-desvio foi de 2.12% e ocorreu para o fundo 'Short Selling'.

14. Olhando para os dados desde 2009 (incluindo todo o ano de 2009), qual Hedge Fund Index exibiu o menor semidvio?

> **Resposta**

In [51]:
hfi_09_now = hfi["2009":]
min_semidev_09_now = erk.semideviation(hfi_09_now).min()
min_semidev_09_now_col = erk.semideviation(hfi_09_now).idxmin()
print(f"O menor semi-desvio foi de {100 * min_semidev_09_now:.2f}% e ocorreu para o fundo '{min_semidev_09_now_col}'.")

O menor semi-desvio foi de 0.33% e ocorreu para o fundo 'Fixed Income Arbitrage'.

15. Olhando para os dados desde 2009 (incluindo todo o ano de 2009), qual índice de Hedge Fund foi mais inclinado negativamente?

> **Resposta**

In [54]:
erk.skewness(hfi_09_now).idxmin()

'Equity Market Neutral'

16. Olhando para os dados desde 2000 (incluindo todos de 2000) até 2018, qual Hedge Fund Index exibiu a curtose mais alta?

In [55]:
hfi_00_18 = hfi["2000":"2018"]
erk.kurtosis(hfi_00_18).idxmax()

'Fixed Income Arbitrage'